body {
    margin: 0;
    padding: 0;
    background: url(/img/background/background2.png) no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
}

#titlesend {
    background: rgba(105, 105, 105, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    -moz-box-shadow: 8px 8px 8px 0px #656565;
    -webkit-box-shadow: 8px 8px 8px 0px #656565;
    -o-box-shadow: 8px 8px 8px 0px #656565;
    box-shadow: 8px 8px 8px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=8);
    padding: 15px;
}

#content {
    font-weight: bold;
    -moz-box-shadow: 8px 8px 8px 0px #656565;
    -webkit-box-shadow: 8px 8px 8px 0px #656565;
    -o-box-shadow: 8px 8px 8px 0px #656565;
    box-shadow: 8px 8px 8px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=8);
}

div#content.col-md-8.col-md-offset-2 {
    padding: 5%;
    background: rgba(105, 105, 105, 0.75);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form label {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid grey;
}
