* {
    margin: 0;
    padding: 0;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links>a:hover {
    background-color: white;
}

#menu {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3em;
}

#footer {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3em;
}

#content {
    height: 100%;
    width: 100%;
}

#left {
    border: 2px solid green;
    display: flex;
    justify-content: flex-start;
}

#right {
    border: 2px solid yellow;
    display: flex;
    justify-content: flex-end;
}

#contenu p {
    text-align: justify;
}
